{% extends "::app-layout.html.twig" %}

{% block title %}{{ 'action.add_company'|trans }}{% endblock %}

{% block pageContent %}
    <div class="portlet">
        <div class="portlet-body form">
            {{ form_start(form) }}
            <div class="form-body">
                <h3 class="form-section">Identity Company - SOCIETE.com</h3>
                {#{{ form_row(form.siren) }}
                {{ form_row(form.sync_api) }}#}
                {{ form_row(form.company.siren) }}
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10"><button id="add_company_workflow_sync_api"  class="purple btn">Retrieve company data from API</button>
                    </div>
                    <div id="companyapierrormessage"></div>
                </div>

                <h3 class="form-section">Company {{ form.company.siren.vars.data }}</h3>
                {{ form_row(form.siren) }}
                {{ form_widget(form.company) }}
                <h3 class="form-section">Closure</h3>
                {{ form_row(form.closureStartMonth) }}
            </div>
            <div class="form-actions">
                <a class="btn btn-default" href="{{ path('app_home_index')}}"> {{ 'action.cancel'|trans }}</a>
                <button class="btn btn-primary" type="submit" value="create">{{ 'action.add_company'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block pagescript %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $("#add_company_workflow_sync_api").click(function(e){
                e.preventDefault();
                var companysiren = '';
                var companysiren = $('#add_company_workflow_company_siren').val();
                var token = '414b4121-0027-3c3d-9b68-db7d72c4f26e';
                var companysirenwithoutspace = companysiren.replace(/[" "]/g, function (x) {
                    return '';
                });
                $.ajax({
                    url: 'https://api.insee.fr/entreprises/sirene/V3/siren/'+ companysirenwithoutspace,
                    beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + token); },
                    type: 'GET',
                    success: function(data) {
                        var companynamewithoutspecialcharacter = data.uniteLegale.periodesUniteLegale[0].denominationUniteLegale.replace(/[[_\W]+]/g, function (x) {
                            return '';
                        });
                        var companydbname = companynamewithoutspecialcharacter.replace(/[" "]/g, function (x) {
                            return '_';
                        });
                        var companyape = data.uniteLegale.periodesUniteLegale[0].activitePrincipaleUniteLegale.replace(/[.]/g, function (x) {
                            return '';
                        });
                        var companysiret = data.uniteLegale.siren + data.uniteLegale.periodesUniteLegale[0].nicSiegeUniteLegale;
                        $('#add_company_workflow_siren').val(data.uniteLegale.siren);
                        $('#add_company_workflow_company_ape').val(companyape);
                        $('#add_company_workflow_company_name').val(companynamewithoutspecialcharacter);
                        $('#add_company_workflow_company_sageDbName').val(companydbname);
                        $('#add_company_workflow_company_siret').val(companysiret);
                        // Decode and show the returned data nicely.
                    },
                    error: function(header) {
                        $('#companyapierrormessage').text('Le code Siren n\'est pas valide !');
                    }
                });
            });

        })
    </script>
{% endblock %}
