<h4 class="center-align">{{ title|trans }}</h4>

{% set lastYear = false %}
<ul id="events-collapsible-years-container" class="collapsible" >
    jungminjung
</ul>

{% set numberofyear = "now"|date("Y")  %}
    {% for event in events %}
    {% if event.startDate|date('Y') > "now"|date("Y") - 1 %}
    {% set year =  "now"|date("Y") %}
<div id = "distincyeardiv" class = "thisyear">
    {% elseif event.startDate|date('Y') == "now"|date("Y") - 1 %}
    {% set year =  "now"|date("Y") - 1  %}
    <div id = "distincyeardiv" class = "beforeyear">
        {% else %}
        {% set year =  "now"|date("Y") - 2  %}
        <div id = "distincyeardiv" class = "anotherbeforeyear">
            {% endif %}
            <div class="row">
                <div class="col s12">
                    <div class="card card-event">
                        {# TODO: reduce padding for first card content for event #}
                        <div class="card-content blue-grey darken-4">
                    <span class="card-event-title">
                        {# Set a Flag that save if we show the specific title else show the Global Event Title #}
                        {% set specificEventTitleShow = false %}

                        {# Change the Title View To the Specific Compny View #}
                        {% if eventsReferencesByCompany is defined %}
                            {% for eventShow in eventsReferencesByCompany %}
                                {%  if event.type.id == eventShow.referenceEvent.id %}
                                    {{ eventShow.title }}
                                    {% set specificEventTitleShow = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {# This title must show when we don't find the Company Title
                            The special case is when the Manage disable an Event and The Employee still have it ! #}
                        {%  if specificEventTitleShow==false %}
                            {{ event.type.title }}
                        {% endif %}
                      </span>
                            <div class="sortnewyearstatus">
                                {{ include("AppBundle:Company/Employee/Event:status.html.twig", {'event': event}) }}
                            </div>
                        </div>
                        <div class="card-content card-event-content">
                            <div class="col s4">
                                {{ event.startDate|date('d/m/Y') }}
                                {% if event.startDate|date('H') == '12' %}
                                    {{ 'form.event.noon'|trans }}
                                {% else %}
                                    {{ 'form.event.morning'|trans }}
                                {% endif %}
                            </div>
                            <div class="col s4">
                                {# TODO: correct  value according to calendar. May have to store the value in the entity to avoid computing it everytime #}
                                <span class="event-days">
                        {% set deltaH =  event.endDate|date('H') - event.startDate|date('H') %}
                                    {% if event.endDate|date('d') == event.startDate|date('d') and (deltaH == 12 or deltaH == 11)  %}
                                        0.5
                                    {% else %}
                                        {#Cas particulier quand un employee pose Xjour(s) et demi il faut enlever le "+1" #}
                                        {% if deltaH == 12 or deltaH == 11 %}
                                            {{ event.endDate|date('d') - event.startDate|date('d')}}{% if deltaH == 12 or deltaH == 11 %}.5{% endif %}
                                        {% else %}
                                            {% set difference = event.endDate.diff(event.startDate)%}
                                            {% set leftDays = difference.days +1 %}
                                            {{ leftDays }}{# 23 - 12 or 12 - 0 #}{% if deltaH == 12 or deltaH == 11 %}.5{% endif %}
                                        {% endif %}
                                    {% endif %}
                        </span>
                            </div>
                            <div class="col s4">
                                {{ event.endDate|date('d/m/Y') }}
                                {% if event.endDate|date('H') == '12' %}
                                    {{ 'form.event.noon'|trans }}
                                {% else %}
                                    {{ 'form.event.evening'|trans }}
                                {% endif %}
                            </div>
                        </div>
                        {% if event.file %}
                            <div class="card-content card-event-download">
                                {# TODO: check how to add file download link #}
                                <a class="waves-effect waves-light btn" href="{{ path('app_downloader_download', { 'file' : event.file.id }) }}">
                                    {{ "action.download_proof"|trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% block pagescript %}
            <script src="/js/jquery.min.js" type="text/javascript"></script>
            <script>

                $(document).ready(function() {
                    var i;
                    var d = new Date();
                    var n = d.getFullYear();
                    for (i = n ; i >2016; i--) {
                        var forappendheader =i+'header';
                        var forappendbody =i+'body';
                        var thisyear = $('.thisyear');
                        var forappend = " <li class='collable-element'><div id="+forappendheader+" class='collapsible-header'>"+i+"</div> <div id='" +forappendbody+"' class='collapsible-body'><span></span></div></li>";
                        $('#events-collapsible-years-container').append(forappend);
                        $('#2019body span').append(thisyear);
                    }
                    var thisyear = $('.thisyear');
                    var beforeyear = $('.beforeyear');
                    var anotherbeforeyear = $('.anotherbeforeyear');

                    $('#2019body span').append(thisyear);
                    $('#2018body span').append(beforeyear);
                    $('#2017body span').append(anotherbeforeyear);

                });
            </script>
        {% endblock %}
