{% extends "::app-layout.html.twig" %}


{% block title %}{{ "Dashboard"|trans }}
    {% if start is defined and start!="" %}
        - {{ start|intl_date('MMMM y') }}
    {% endif %}
{% endblock %}
{% block pageContent %}
    <div class="actions">
        {% block actions %}
            <div class="form-actions" id="changeMonthDashBoard">
                <div class="second-container">

                    <div class="input-group date date-picker-copy" data-date-format="mm/yyyy">
                        <input id="changeDate" name="dashboard[validFrom]" required="required" class="form-control" value="" type="text">
                        <span class="input-group-btn"><button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button></span>
                    </div>
                </div>
                <div class="button-container">
                    <button name="wb_dashboard_change_month" id="wb_dashboard_change_month" class="btn btn-primary">{{ "action.suivi.cabinet.changemonth"|trans }}</button>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="whitebrand-board-container table-responsive">
        <table id="whitebrand-board-table" class="table"><thead>
            <tr role="row" class="heading">
                <th>{{ 'Establishment'|trans }}</th>
                <th>{{ 'employees_count_year'|trans }}</th>
                <th>{{ 'Employees'|trans }}</th>
                <th>{{ 'Newcomer'|trans }}</th>
                <th> {{ 'Leaver'|trans }}</th>
                <th> {{ 'info.events'|trans }}</th>
                <th> {{ 'preclosurehistory.creatAt'|trans }}</th>
                <th> {{ 'action.closure'|trans }} </th>
                {#
                <th> {{ 'info.events.pending'|trans }}</th>
                #}
                <th> {{ 'info.disponibilite.bulletin'|trans }}</th>
                <th> {{ 'info.disponibilite.etat'|trans }}</th>
                <th> {{ 'action.status'|trans }} </th>
            </tr>

            {% for company in companys %}
                <tr>
                    <td>
                        <a class="btn" href="{{ path('app_company_dashboard_index', {'company' : company["id"]}) }}">
                            {{ company["name"] }}
                        </a>
                    </td>
                    <td>{{ company["number_salarys"] }}</td>
                    <td>{{ company["counters"].employees.total }}</td>
                    <td>{{ company["counters"].employees.newcomerByPeriod }}</td>
                    <td>{{ company["counters"].employees.leaver }}</td>
                    <td>
                        {% if company["allEvents"] is defined %}
                            {{ company["allEvents"] }}
                        {% endif %}
                    </td>
                    {% if  company["PreclosureHistory"].validatedAt is defined and  company["PreclosureHistory"].validatedAt!="" %}
                    <td>{{ company["PreclosureHistory"].validatedAt|intl_date('dd-MMMM-y') }}</td>
                    {% else %}
                        <td class="text-center"> - </td>
                    {% endif %}
                    {% if  company["closure"].validatedAt is defined and  company["closure"].validatedAt!="" %}
                    <td>{{ company["closure"].validatedAt|intl_date('dd-MMMM-y') }}</td>
                    {% else %}
                        <td class="text-center"> - </td>
                    {% endif %}
                    {#
                    <td>
                        {% if company["pendingEvents"] is defined %}
                            {{ company["pendingEvents"] }}
                        {% endif %}
                    </td>
                    #}
                    <td>
                        {% if company["bulletin"] is defined and company["bulletin"] is not null %}
                            Oui
                        {% else %}
                            -
                        {% endif  %}
                    </td>
                    <td>
                        {% if company["etat"] is defined and company["etat"] is not null %}
                            Oui
                        {% else %}
                            -
                        {% endif  %}
                    </td>
                    {% if company["closure"].status is defined %}
                        {% if company["closure"].status =='0' %}
                            <td class="cell-bg-danger text-center">{{ 'message.closure.inactive'|trans }} </td>
                        {% endif %}

                        {% if company["closure"].status =='1' %}
                            <td class="cell-bg-primary text-center">{{ 'message.closure.validee'|trans }}</td>
                        {% endif %}

                        {% if company["closure"].status =='2' %}
                            <td class="cell-bg-white text-center">{{ 'message.closure.creationbulletins'|trans }}</td>
                        {% endif %}

                        {% if company["closure"].status =='3' %}
                            <td class="cell-bg-success text-center">{{ 'message.closure.finie'|trans }}</td>
                        {% endif %}
                    {% else %}
                            <td class="text-center"> - </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </thead>
        </table>
    </div>

    <div id="white-brand-dashboard-chart-container"></div>
{% endblock %}

{% block pagescript %}
    <script src="{{ asset('js/highcharts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/exporting.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    //Configuration of the DatePicker
    $('#changeDate').datepicker( {
        altField: "#changeDate",
        closeText: 'Valider',
        prevText: 'Précédent',
        nextText: 'Suivant',
        showButtonPanel: false,
        currentText: '',
        language: 'fr',
        autoclose: true,
        format: "yyyy-mm-dd",
        viewMode: "months",
        minViewMode: "months",
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        onClose: function(dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
    });

    //Close the Datepicker after the choose
    $('changeDate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });

    $("#wb_dashboard_change_month").on("click", function() {
        var   select = $("#changeDate").val();
        if(select != ''){
            var path = "{{ path('app_whitelabel_dashboard_index', {'whitelabel': whitelabel.id, 'start': "+select+"  } ) }}";
            path = path.replace("+select+", select);
            window.location.replace(path);
        }
    });

    /*$(document).ready(function() {
        $('#whitebrand-board-table').DataTable();
    });*/

/*
    function getGraphStatus(){
        var url = "{# path('app_whitelabel_dashboard_graphpie', {'whitelabel' : whitelabel.id }) #}";
        var title ="L'état des clôtures";
        $.getJSON(url, function(json) {
            Highcharts.chart("container", {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: title
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<b>{point.y:.0f} </b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y:.0f} ',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: title,
                    colorByPoint: true,
                    //data :json
                    data :json
                }]
            });
        });
    }
    getGraphStatus();
    */
    $( document ).ready(function() {
        Digipay.init();
    });
</script>
{% endblock %}
