{% extends "::app-layout.html.twig" %}

{% block title %}{{ 'advanced.variable.btn.title'|trans }}

{% endblock %}

{% block pageContent %}
    <h1 class="page-title"></h1>
    <div class="row">
        <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2" for="find_company_list">{{ 'advanced.company.title'|trans }} </label>
            <div class="col-sm-10">
                <select class="form-control"  id="find_company_list">
                    {% for company in companys %}
                        <option value={{ company.id }}>{{ company.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2" for="find_company">{{ 'advanced.variable.btn'|trans }} </label>
            <div class="col-sm-10">
                <select class="form-control"  id="find_company">
                  
                        <option value={{ company.id }}>{{ company.name }}</option>

                </select>
            </div>
        </div>
        </div>

        <div class="form-actions">
            <a id="btn_go_status" class="btn btn-primary" href="">
                {{ 'advanced.company.btn.check'|trans }}
            </a>
        </div>

    </div>



{% endblock %}
    {% block pagescript %}
        <script>
            jQuery(document).ready(function() {
                $( "#find_company_list" ).change(function () {
                    var str = "";
                    $( "select option:selected" ).val();
                  //  console.log('hellojungmin!');
                  //  console.log($( "select option:selected" ).val());
                    var companyid = $( "select option:selected" ).val();
                    {% set companyidforpass = "" %}
                    var localadress = window.location.href;
                  //  console.log(localadress);
                    var url = localadress.substr(0, localadress.indexOf('closure'));
                    var url = url+companyid+'/getClosures';
                    var urlforbutton = "http://www.google.com/"+companyid;
                    $("#btn_go_status").attr("href",urlforbutton )
                  //  console.log(url);


                    $.ajax({
                        url: url,
                        type: 'GET',
                        traditional: true,
                        dataType: 'json',
                        //data : data,
                        success: function (res) {
                      //      console.log('this is success jungmin')
                        },
                        done: function(data){
                        },
                         complete: function(data) {
                             dataResponse = JSON.parse(data.responseText);

                                 console.log(dataResponse);
                                 console.log('this is ok jungmin');
                                 console.log(dataResponse['data'][1]);

                         }
                    });

                });
                Digipay.init();
            });
        </script>
    {% endblock %}
